<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>hello world!</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <link type="text/css" href="../../static/frontend/styles/auth.css" rel="stylesheet" />
</head>
<body>
    <main class="sm-container auth">
		<img src="https://sun9-30.userapi.com/impf/teFzxNae-ZmBy-HSnKi5e0FhpbLsKH6l7Aa9jQ/Z0-AcxBHusI.jpg?size=1280x960&quality=96&sign=a512d753fa7ce9d59b1fca7b39446f7d&type=album" class="auth-header">
         <form method="post" action="" class="settings-form" autocomplete="off">
             <h3>Вход</h3>
             <p>Если вы здесь впервые, то <span class="light-text">зарегистрируйтесь</span></p>
             {% csrf_token %}
             <div class="inputWrapper">
                 <label>Логин</label>
				<div class="inputBlock">
                    {{ form.username }}
					<span style="position: absolute; right: 0px;bottom: -18px;font-size: .85em;color: #8f8f91;">напомнить?</span>
                </div>
             </div>
             <div class="inputWrapper">
                 <label>Пароль</label>
                {{ form.password }}
             </div>
             <button class="send-btn" type="submit">Войти</button>
         </form>
    </main>
</body>
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static "frontend/csrftoken.js" %}"></script>
</html>